<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>config {{ config }}</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">back to home</a>
            </li>
        </ul>
        <section>
            <h1>{{ config }} data</h1>
            <fieldset>
                <legend>{{ last_save }}</legend>
                <form method="post">
                    {% for key, value in data.items() %}
                        <div>
                            <label for="{{ key }}">{{ key }}</label>
                            {%
                                set input_type = key == 'swap_names' and 'checkbox'
                                or key.endswith('_score') and 'number' or 'text'
                            %}
                            <input
                                type="{{ input_type }}"
                                name="{{ key }}"
                                id="{{ key }}"
                                value="{{ value }}"
                            />
                        </div>
                    {% endfor %}
                    <button type="submit">save</button>
                </form>
                <p>
                    <i
                        >It can take up to 15 seconds for changes to appear on
                        the overlay</i
                    >
                </p>
            </fieldset>
        </section>
        <section>
            <h1>OBS browser source url for {{ config }}</h1>
            <p>
                <a href="{{ local_host }}{{ url_for('display', body=config) }}"
                    >{{ local_host }}{{ url_for('display', body=config) }}</a
                >
                when server runs on same PC as OBS.
            </p>
            <p>
                <a
                    href="{{ external_host }}{{ url_for('display', body=config) }}"
                    >{{ external_host }}{{ url_for('display', body=config) }}</a
                >
                when server runs on another PC as OBS or the url above doesn't
                work.
            </p>
            <ol>
                <li>Add one of the above urls as browsersource to obs</li>
                <li>Use Width 1920</li>
                <li>Use Height 1080</li>
                <li>Tick "Refresh browser when scene becomes active"</li>
                <li>Press the "OK" button</li>
                <li>Right click on the source you just added</li>
                <li>Goto "Transform" then choose "Fit to screen"</li>
            </ol>
        </section>
        <section>
            <h1>Setup</h1>
            <p>
                You can open this page on another device when it's on the same
                network.<br />
                Open "{{ external_host }}/{{ config }}" in the browser or scan
                the qr-code with your mobile device.<br />
                <img src="{{ url_for('qr', data=qr_data) }}" />
            </p>
        </section>
    </body>
</html>
