<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>display</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css') }}"
        />
    </head>
    <body>
        <div class="overlay">
            <div class="error"></div>
            <div class="logo"></div>
            <div class="logo2"></div>
            <div class="video-wrap">
                <video
                    loop="loop"
                    src="{{ url_for('static', filename='img/gerqc/gerqc-gears.webm') }}"
                    autoplay="true"
                    muted="true"
                ></video>
            </div>
            <div class="info-wrap">
                <div class="relative info">
                    <div class="relative info_1"></div>
                    <div class="relative info_2"></div>
                </div>
            </div>
            <div class="players-wrap">
                <div class="relative players">
                    <span class="blue_name"></span>
                    <span class="blue_score"></span>:<span
                        class="red_score"
                    ></span>
                    <span class="red_player"></span>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
