<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>index</title>
    </head>
    <body>
        <ul>
            {% for config in configs %}
                <li>
                    <a href="{{ url_for('config', config=config) }}">
                        {{ config }}
                    </a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ url_for('shaftastictv.index') }}"> shaftastictv </a>
            </li>
        </ul>
        <section>
            <h1>Setup</h1>
            <p>
                You can open this page on another device when it's on the same
                network.<br />
                Open "{{ external_host }}" in the browser or scan the qr-code
                with your mobile device.<br />
                <img src="{{ url_for('qr', data=external_host) }}" />
            </p>
            <p>
                For this to work you have to allow "Public Networks" to access
                "server.exe" in your firewall.<br />
                When you start "server.exe" for the first time, Windows Defender
                Firewall will ask which networks are allowed access to is. Tick
                "Public Networks" and click "Grand Access".
            </p>
            <img
                src="{{ url_for('static', filename='img/windows-firewall.png') }}"
            />
        </section>
    </body>
</html>
