@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        local("Source Sans Pro Black"),
        local("SourceSansPro-Black"),
        url(/static/font/SourceSansPro-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        local("Roboto Black"),
        local("Roboto-Black"),
        url(/static/font/Roboto-Black.ttf) format("truetype");
}

@font-face {
    font-family: "FIGHTT3";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        local("FIGHTT3"),
        local("FIGHTT3"),
        url(/static/font/FIGHTT3_.ttf) format("truetype");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/static/font/UbuntuMonoBold.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: transparent;
    font-family: "Source Sans Pro", sans-serif;
}

div {
    position: absolute;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-transform: uppercase;
}

.overlay {
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    color: #ffffff;
    /*background-image: url("/static/img/spec-clean.jpg");*/
}

.error {
    color: lightgreen;
}

.relative {
    position: relative;
}

.info {
    padding-top: 5px;
    line-height: 0.9;
    text-align: center;
}
.info_1 {
    font-size: 18px;
}
.info_2 {
    font-size: 38px;
}

.players-wrap {
    width: 546px;
    height: 57px;
    right: 0;
    bottom: 0;
    background-image: url("/static/img/player-info.png");
    z-index: 150;
}

.players {
    top: 10px;
    font-size: 30px;
    padding-left: 56px;
    text-align: center;
}

.blue_name {
    color: #44b6ed;
}

.red_player {
    color: #e66358;
}

.video-wrap,
.logo2 {
    display: none;
}

.gerqc .logo {
    top: 971px;
    left: 621px;
    width: 220px;
    height: 124px;
    background-image: url("/static/img/gerqc/gerqc-logo.png");
    z-index: 150;
}

.gerqc .logo2 {
    display: block;
    width: 170px;
    height: 229px;
    top: 30px;
    right: 30px;
    background-image: url("/static/img/gerqc/gerqc-season.png");
    z-index: 150;
}

.gerqc .video-wrap {
    display: block;
    top: 14px;
    left: 0;
    width: 1920px;
    height: 1080px;
    z-index: 50;
}

.gerqc .info-wrap {
    width: 1920px;
    height: 61px;
    left: 0px;
    bottom: 0px;
    background-image: url("/static/img/gerqc/gerqc-infos.png");
    z-index: 100;
}

.gerqc .info {
    left: 840px;
    width: 350px;
    padding-top: 10px;
    line-height: 0.8;
}

.gerqc .info_1 {
    font-size: 17px;
}

.gerqc .info_2 {
    font-size: 37px;
}

body.challengers {
    font-family: "Roboto", sans-serif;
}

.challengers .info {
    padding-top: 6px;
}

.challengers .info_1 {
    color: #ff5500;
}

.challengers .logo {
    width: 129px;
    height: 150px;
    top: 0;
    right: 50px;
    background-color: #ff5500;
    background-image: url("/static/img/challengers/logo-challengers.svg");
    background-size: 107px 125px;
    z-index: 150;
}

.challengers .info-wrap {
    width: 698px;
    height: 58px;
    left: 611px;
    bottom: 0;
    background-image: url("/static/img/challengers/match-info.png");
    z-index: 100;
}

.fragfest .logo {
    width: 282px;
    height: 52px;
    bottom: 56px;
    left: 620px;
    background-image: url("/static/img/fragfest/fragfest-logo.png");
    z-index: 150;
}

.fragfest .info-wrap {
    width: 787px;
    height: 59px;
    left: 565px;
    bottom: 0px;
    background-image: url("/static/img/fragfest/fragfest-match-info.png");
    z-index: 100;
}

.fragfest .info_1 {
    color: #6441a4;
}

.fragfest .info_2 {
    color: #d7a8fd;
}

body.estoty {
    font-family: "Roboto", sans-serif;
}

.estoty .logo {
    width: 150px;
    height: 130px;
    top: 0;
    right: 50px;
    background-color: #000;
    background-image: url("/static/img/estoty/logo-estoty.svg");
    background-size: 130px;
    z-index: 150;
}

.estoty .info-wrap {
    width: 885px;
    height: 53px;
    left: 524px;
    bottom: 5px;
    background-image: url("/static/img/match-info.png");
    z-index: 100;
}

.estoty .info_2 {
    font-size: 35px;
}

body.fight-club {
    font-family: "FIGHTT3", sans-serif;
}

.fight-club .info-wrap {
    width: 885px;
    height: 53px;
    left: 524px;
    bottom: 5px;
    background-image: url("/static/img/match-info.png");
    z-index: 100;
}

.fight-club .info {
    padding: 3px;
    line-height: 0.7;
    color: #dc707f;
}

.fight-club .info_1 {
    font-size: 25px;
}

.fight-club .info_2 {
    font-size: 45px;
}

.fight-club .players {
    font-size: 50px;
    top: -5px;
}

.fight-club .logo {
    width: 150px;
    height: 150px;
    top: 0;
    right: 50px;
    background-color: #000;
    background-image: url("/static/img/fight-club/fight-club-logo.png");
    background-size: 125px 125px;
    z-index: 150;
}

body.kuachi-cups {
    font-family: "Ubuntu Mono", monospace;
    font-weight: bold;
}

.kuachi-cups .info {
    padding-top: 6px;
}

.kuachi-cups .info_1 {
    font-size: 20px;
    color: #ff9409;
}

.kuachi-cups .logo {
    width: 150px;
    height: 150px;
    top: 0;
    right: 50px;
    background-color: #ff5500;
    background-image: url("/static/img/kuachi-cups/kuachi-cups-logo.png");
    z-index: 150;
}

.kuachi-cups .info-wrap {
    width: 698px;
    height: 58px;
    left: 611px;
    bottom: 0;
    background-image: url("/static/img/challengers/match-info.png");
    z-index: 100;
}

body.dbe {
    font-family: "Roboto", sans-serif;
}

.dbe .logo {
    width: 150px;
    height: 150px;
    top: 0;
    right: 50px;
    background-color: #000;
    background-image: url("/static/img/dbe/logo.png");
    background-size: 75px;
    z-index: 150;
}

.dbe .info-wrap {
    width: 885px;
    height: 53px;
    left: 524px;
    bottom: 5px;
    background-image: url("/static/img/match-info.png");
    z-index: 100;
    color: #7c3c92;
}

.dbe .info_2 {
    font-size: 35px;
    color: #9a6fa8;
}

.qct .logo {
    width: 150px;
    height: 150px;
    top: 0;
    right: 50px;
    background-color: #000;
    background-image: url("/static/img/qct/logo.png");
    background-size: 125px;
    z-index: 150;
}

.qct .info-wrap {
    width: 885px;
    height: 53px;
    left: 524px;
    bottom: 5px;
    background-image: url("/static/img/match-info.png");
    z-index: 100;
    color: #fefd4f;
}

.qct .info_2 {
    font-size: 40px;
    color: #bb361c;
    text-shadow: 1px 1px 1px #fefd4f;
}

.qct .info {
    padding-top: 0;
    line-height: 0.85;
}
