{% extends 'shaftastictv/layout/base.html' %}
{% block nav %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('index') }}">back to home</a>
        </li>
        <li class="breadcrumb-item active">shaftastictv</li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('shaftastictv.screen') }}">screen</a>
        </li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row mb-1">
        <div class="col">
            <h1 class="border-bottom mt-1">
                {% block title %}shaftastictv{% endblock %}
            </h1>
            <h6 class="mt-1 text-secondary">saved at {{ last_save }}</h6>
        </div>
    </div>

    <form method="post">
        <fieldset class="border p-1 mb-1">
            <div class="row mb-1">
                <div class="col">
                    <legend>Settings</legend>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-2 col-form-label" for="txt_path"
                    >text store path</label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        type="text"
                        name="txt_path"
                        id="txt_path"
                        value="{{ data.txt_path }}"
                        placeholder="paste dir from local drive"
                    />
                </div>
            </div>
            {% if data.integration == "challonge" %}
                <div class="row mb-1">
                    <div class="col-10 offset-2">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                name="use_team_brackets_logic"
                                id="use_team_brackets_logic"
                                {{ "checked" if data.use_team_brackets_logic }}
                            />
                            <label
                                class="form-check-label"
                                for="use_team_brackets_logic"
                            >
                                use "team (playername, playername, playername)"
                                logic
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-10 offset-2">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                name="use_flags"
                                id="use_flags"
                                {{ "checked" if data.use_flags }}
                            />
                            <label class="form-check-label" for="use_flags">
                                use flags
                            </label>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if data.integration == "toornament" %}
                <div class="row mb-1">
                    <div class="col-10 offset-2">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                name="use_team_lineup"
                                id="use_team_lineup"
                                {{ "checked" if data.use_team_lineup }}
                            />
                            <label
                                class="form-check-label"
                                for="use_team_lineup"
                            >
                                use team lineup logic
                            </label>
                        </div>
                    </div>
                </div>
            {% endif %}
        </fieldset>
        <fieldset class="border p-1 mb-1">
            <div class="row mb-1">
                <div class="col-auto">
                    <legend>Integration</legend>
                </div>
                <div class="col align-self-center">
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="integration"
                            id="none"
                            value=""
                            {{ "checked" if not data.integration }}
                        />
                        <label class="form-check-label" for="none">None</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="integration"
                            id="toornament_integration"
                            value="toornament"
                            {{ "checked" if data.integration == "toornament" }}
                        />
                        <label
                            class="form-check-label"
                            for="toornament_integration"
                            >Toornament</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="integration"
                            id="challonge_integration"
                            value="challonge"
                            {{ "checked" if data.integration == "challonge" }}
                        />
                        <label
                            class="form-check-label"
                            for="challonge_integration"
                            >Challonge</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="integration"
                            id="glhf_integration"
                            value="glhf"
                            {{ "checked" if data.integration == "glhf" }}
                        />
                        <label class="form-check-label" for="glhf_integration"
                            >GL & HF</label
                        >
                    </div>
                </div>
            </div>
            <div
                class="row mb-1 {{ "d-none" if data.integration != "toornament" }}"
            >
                <label class="col-2 col-form-label" for="toornament_api_key"
                    ><a
                        href="https://developer.toornament.com/applications/"
                        target="_blank"
                        >Toornament Legacy API key</a
                    ></label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        type="password"
                        name="toornament_api_key"
                        id="toornament_api_key"
                        value="{{ data.toornament_api_key }}"
                    />
                </div>
            </div>
            <div
                class="row mb-1 {{ "d-none" if data.integration != "toornament" }}"
            >
                <label
                    class="col-2 col-form-label"
                    for="toornament_tournament_id"
                    >Toornament Tournament ID</label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        type="text"
                        name="toornament_tournament_id"
                        id="toornament_tournament_id"
                        value="{{ data.toornament_tournament_id }}"
                    />
                </div>
            </div>
            <div
                class="row mb-1 {{ "d-none" if data.integration != "challonge" }}"
            >
                <div class="col">
                    <legend>Challonge integration</legend>
                </div>
            </div>
            <div
                class="row mb-1 {{ "d-none" if data.integration != "challonge" }}"
            >
                <label class="col-2 col-form-label" for="challonge_username"
                    >Challonge username</label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        type="text"
                        name="challonge_username"
                        id="challonge_username"
                        value="{{ data.challonge_username }}"
                    />
                </div>
            </div>
            <div
                class="row mb-1 {{ "d-none" if data.integration != "challonge" }}"
            >
                <label class="col-2 col-form-label" for="challonge_api_key"
                    ><a href="https://challonge.com/settings/developer"
                        >Challonge API key</a
                    ></label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        type="password"
                        name="challonge_api_key"
                        id="challonge_api_key"
                        value="{{ data.challonge_api_key }}"
                    />
                </div>
            </div>
            <div
                class="row mb-1 {{ "d-none" if data.integration != "challonge" }}"
            >
                <label
                    class="col-2 col-form-label"
                    for="challonge_tournament_url"
                    >Challonge Tournament Url</label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        type="text"
                        name="challonge_tournament_url"
                        id="challonge_tournament_url"
                        value="{{ data.challonge_tournament_url }}"
                    />
                </div>
            </div>
            <div
                class="row mb-1 {{ "d-none" if data.integration != "challonge" }}"
            >
                <label
                    class="col-2 col-form-label"
                    for="challonge_tournament_id"
                    >Challonge Tournament ID</label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        type="text"
                        name="challonge_tournament_id"
                        id="challonge_tournament_id"
                        value="{{ data.challonge_tournament_id }}"
                        disabled
                    />
                </div>
            </div>
            <div class="row mb-1 {{ "d-none" if data.integration != "glhf" }}">
                <label class="col-2 col-form-label" for="glhf_url"
                    >GL & HF url</label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        type="text"
                        name="glhf_url"
                        id="glhf_url"
                        value="{{ data.glhf_url }}"
                    />
                </div>
            </div>
            <div class="row mb-1 {{ "d-none" if data.integration != "glhf" }}">
                <label class="col-2 col-form-label" for="glhf_tournament_id"
                    >GL & HF Tournament ID</label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        type="text"
                        name="glhf_tournament_id"
                        id="glhf_tournament_id"
                        value="{{ data.glhf_tournament_id }}"
                        disabled
                    />
                </div>
            </div>
        </fieldset>
        <fieldset class="border p-1 mb-1">
            <div class="row mb-1">
                <div class="col">
                    <legend>Push button to save ;)</legend>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">save</button>
        </fieldset>
    </form>
    <h2>Setup</h2>
    <p>
        You can open this page on another device when it's on the same
        network.<br />
        Open "{{ external_host }}/shaftastictv" in the browser or scan the
        qr-code with your mobile device.<br />
        <img src="{{ url_for('qr', data=external_host) }}" />
    </p>
{% endblock %}
