{% extends 'shaftastictv/layout/base.html' %}
{% block nav %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('index') }}">back to home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('shaftastictv.index') }}">shaftastictv</a>
        </li>
        <li class="breadcrumb-item active">screen</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row mb-1">
        <div class="col">
            <h1 class="border-bottom mt-1">
                {% block title %}shaftastictv - screen{% endblock %}
            </h1>
            <h6 class="mt-1 text-secondary">saved at {{ last_save }}</h6>
        </div>
    </div>

    <form method="post">
        <fieldset class="border p-1 mb-1">
            <div class="row mb-1">
                <div class="col">
                    <legend>Names</legend>
                </div>
                <div class="col-auto align-self-center">
                    <button type="submit" class="btn btn-primary btn-lg">
                        save everything
                    </button>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-6">
                    <label for="left-score.txt" class="form-label"
                        >left score
                        {% if settings.use_flags and file_details["left-name.txt"].content in flags %}
                            <img
                                src="{{ url_for('static', filename='img/flags/' + flags[file_details['left-name.txt'].content] + '.png') }}"
                                class="img-fluid img-thumbnail"
                                alt="{{ file_details["left-name.txt"].content }}"
                                style="width: 100px"
                            />
                        {% endif %}
                    </label>
                    <input
                        id="left-score.txt"
                        name="left-score.txt"
                        value="{{ file_details["left-score.txt"].content }}"
                        type="{{ file_details["left-score.txt"].source_type }}"
                        class="form-control mb-1"
                    />

                    <label for="left-name.txt" class="form-label"
                        >left name</label
                    >
                    <input
                        id="left-name.txt"
                        name="left-name.txt"
                        value="{{ file_details["left-name.txt"].content }}"
                        type="{{ file_details["left-name.txt"].source_type }}"
                        class="form-control mb-1"
                        {{ "disabled" if settings.use_team_brackets_logic or settings.use_team_lineup }}
                    />
                    {% if settings.use_team_brackets_logic or settings.use_team_lineup %}
                        <label for="left-player1.txt" class="form-label"
                            >left player 1</label
                        >
                        <input
                            id="left-player1.txt"
                            name="left-player1.txt"
                            value="{{ file_details["left-player1.txt"].content }}"
                            type="{{ file_details["left-player1.txt"].source_type }}"
                            class="form-control mb-1"
                            {{ "disabled" if settings.use_team_brackets_logic or settings.use_team_lineup }}
                        />

                        <label for="left-player2.txt" class="form-label"
                            >left player 2</label
                        >
                        <input
                            id="left-player2.txt"
                            name="left-player2.txt"
                            value="{{ file_details["left-player2.txt"].content }}"
                            type="{{ file_details["left-player2.txt"].source_type }}"
                            class="form-control mb-1"
                            {{ "disabled" if settings.use_team_brackets_logic or settings.use_team_lineup }}
                        />
                    {% endif %}
                </div>
                <div class="col-6">
                    <label for="right-score.txt" class="form-label"
                        >right score
                        {% if settings.use_flags and file_details["right-name.txt"].content in flags %}
                            <img
                                src="{{ url_for('static', filename='img/flags/' + flags[file_details['right-name.txt'].content] + '.png') }}"
                                class="img-fluid img-thumbnail"
                                alt="{{ file_details["left-name.txt"].content }}"
                                style="width: 100px"
                            />
                        {% endif %}
                    </label>
                    <input
                        id="right-score.txt"
                        name="right-score.txt"
                        value="{{ file_details["right-score.txt"].content }}"
                        type="{{ file_details["right-score.txt"].source_type }}"
                        class="form-control mb-1"
                    />

                    <label for="right-name.txt" class="form-label"
                        >right name</label
                    >
                    <input
                        id="right-name.txt"
                        name="right-name.txt"
                        value="{{ file_details["right-name.txt"].content }}"
                        type="{{ file_details["right-name.txt"].source_type }}"
                        class="form-control mb-1"
                        {{ "disabled" if settings.use_team_brackets_logic or settings.use_team_lineup }}
                    />

                    {% if settings.use_team_brackets_logic or settings.use_team_lineup %}
                        <label for="right-player1.txt" class="form-label"
                            >right player 1</label
                        >
                        <input
                            id="right-player1.txt"
                            name="right-player1.txt"
                            value="{{ file_details["right-player1.txt"].content }}"
                            type="{{ file_details["right-player1.txt"].source_type }}"
                            class="form-control mb-1"
                            {{ "disabled" if settings.use_team_brackets_logic or settings.use_team_lineup }}
                        />

                        <label for="right-player2.txt" class="form-label"
                            >right player 2</label
                        >
                        <input
                            id="right-player2.txt"
                            name="right-player2.txt"
                            value="{{ file_details["right-player2.txt"].content }}"
                            type="{{ file_details["right-player2.txt"].source_type }}"
                            class="form-control mb-1"
                            {{ "disabled" if settings.use_team_brackets_logic or settings.use_team_lineup }}
                        />
                    {% endif %}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-2 offset-6">
                    <button
                        type="submit"
                        name="swap"
                        value="swap"
                        class="btn btn-secondary btn-sm"
                    >
                        swap sides
                    </button>
                </div>
                <label
                    class="col-2 ms-auto col-form-label col-form-label-sm"
                    for="score-combined.txt"
                    >combined score</label
                >
                <div class="col-2">
                    <input
                        class="form-control form-control-sm text-center"
                        id="score-combined.txt"
                        name="score-combined.txt"
                        value="{{ file_details["score-combined.txt"].content }}"
                        type="{{ file_details["score-combined.txt"].source_type }}"
                        disabled
                    />
                </div>
            </div>
        </fieldset>

        <fieldset class="border p-1 mb-1">
            <div class="row mb-1">
                <div class="col">
                    <legend>Match info</legend>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-4">
                    <label class="form-label" for="prepend_match_info"
                        >prepend</label
                    >
                    <select
                        id="prepend_match_info"
                        name="prepend_match_info"
                        class="form-control form-select mb-1"
                    >
                        <option value="">select prepend</option>
                        {% for prepend in match_info_prepends %}
                            <option value="{{ prepend }}">{{ prepend }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4">
                    <label class="form-label" for="match-info.txt"
                        >match info</label
                    >
                    <input
                        class="form-control mb-1"
                        id="match-info.txt"
                        name="match-info.txt"
                        value="{{ file_details["match-info.txt"].content }}"
                        type="{{ file_details["match-info.txt"].source_type }}"
                    />
                </div>
                <div class="col-4">
                    <label class="form-label" for="append_match_info"
                        >append</label
                    >
                    <select
                        id="append_match_info"
                        name="append_match_info"
                        class="form-control form-select mb-1"
                    >
                        <option value="">select append</option>
                        {% for append in match_info_appends %}
                            <option value="{{ append }}">{{ append }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-2 col-form-label" for="scrollingtext.txt"
                    >scrolling text</label
                >
                <div class="col-10">
                    <input
                        class="form-control"
                        id="scrollingtext.txt"
                        name="scrollingtext.txt"
                        value="{{ file_details["scrollingtext.txt"].content }}"
                        type="{{ file_details["scrollingtext.txt"].source_type }}"
                        {{
                            "disabled"
                            if settings.vs_mode_scrollingtext
                        }}
                    />
                </div>
            </div>
            <div class="row mb-1">
                <div class="col offset-2">
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="vs_mode_scrollingtext"
                            id="vs_mode_scrollingtext"
                            onchange="document.getElementById('scrollingtext.txt').disabled = event.target.checked"
                            {{ "checked" if settings.vs_mode_scrollingtext }}
                        />
                        <label
                            class="form-check-label"
                            for="vs_mode_scrollingtext"
                            >v/s mode for scrolling text
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border p-1 mb-1">
            <div class="row mb-1">
                <div class="col">
                    <legend>Select names</legend>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-6">
                    <label class="form-label" for="left-name">left name</label>
                    <select
                        class="form-control form-select mb-1"
                        id="left-name"
                        name="left-name"
                    >
                        <option value="">select name</option>
                        {% if settings.use_team_brackets_logic or settings.use_team_lineup %}
                            {% for value, name in teams %}
                                <option
                                    value="{{ value }}"
                                    {{ "selected" if settings.left_team == value }}
                                >
                                    {{ name }}
                                </option>
                            {% endfor %}
                        {% else %}
                            {% for player in players %}
                                <option value="{{ player }}">
                                    {{ player }}
                                </option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    {% if settings.use_team_brackets_logic or settings.use_team_lineup %}
                        <label class="form-label" for="left-1"
                            >left player 1</label
                        >
                        <select
                            class="form-control form-select mb-1"
                            id="left-1"
                            name="left-player1.txt"
                        >
                            <option value="">select name</option>
                            {% for value in players_left %}
                                <option
                                    value="{{ value }}"
                                    {{ "selected" if file_details["left-player1.txt"].content == value }}
                                >
                                    {{ value }}
                                </option>
                            {% endfor %}
                        </select>
                        <label class="form-label" for="left-2"
                            >left player 2</label
                        >
                        <select
                            class="form-control form-select mb-1"
                            id="left-2"
                            name="left-player2.txt"
                        >
                            <option value="">select name</option>
                            {% for value in players_left %}
                                <option
                                    value="{{ value }}"
                                    {{ "selected" if file_details["left-player2.txt"].content == value }}
                                >
                                    {{ value }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-6">
                    <label class="form-label" for="right-name"
                        >right name</label
                    >
                    <select
                        class="form-control form-select mb-1"
                        id="right-name"
                        name="right-name"
                    >
                        <option value="">select name</option>
                        {% if settings.use_team_brackets_logic or settings.use_team_lineup %}
                            {% for value, name in teams %}
                                <option
                                    value="{{ value }}"
                                    {{ "selected" if settings.right_team == value }}
                                >
                                    {{ name }}
                                </option>
                            {% endfor %}
                        {% else %}
                            {% for player in players %}
                                <option value="{{ player }}">
                                    {{ player }}
                                </option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    {% if settings.use_team_brackets_logic or settings.use_team_lineup %}
                        <label class="form-label" for="right-1"
                            >right player 1</label
                        >
                        <select
                            class="form-control form-select mb-1"
                            id="right-1"
                            name="right-player1.txt"
                        >
                            <option value="">select name</option>
                            {% for value in players_right %}
                                <option
                                    value="{{ value }}"
                                    {{ "selected" if file_details["right-player1.txt"].content == value }}
                                >
                                    {{ value }}
                                </option>
                            {% endfor %}
                        </select>
                        <label class="form-label" for="right-2"
                            >right player 2</label
                        >
                        <select
                            class="form-control form-select mb-1"
                            id="right-2"
                            name="right-player2.txt"
                        >
                            <option value="">select name</option>
                            {% for value in players_right %}
                                <option
                                    value="{{ value }}"
                                    {{ "selected" if file_details["right-player2.txt"].content == value }}
                                >
                                    {{ value }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-1 justify-content-end">
                <div class="col-auto">
                    <button
                        type="submit"
                        name="reset"
                        value="reset"
                        class="btn btn-outline-danger btn-sm"
                    >
                        RESET EVERYTHING
                    </button>
                </div>
            </div>
        </fieldset>

        {% if settings.integration %}
            <fieldset class="border p-1 mb-1">
                <div class="row mb-1">
                    <div class="col">
                        <legend>Integration</legend>
                    </div>
                    <div class="col-auto align-self-center">
                        {% if settings.integration == "toornament" %}
                            <button
                                type="submit"
                                name="toornament_participants"
                                value="toornament_participants"
                                class="btn btn-outline-secondary btn-sm"
                            >
                                import toornament participants
                            </button>
                        {% elif settings.integration == "challonge" %}
                            <button
                                type="submit"
                                name="challonge_participants"
                                value="challonge_participants"
                                class="btn btn-outline-secondary btn-sm"
                            >
                                import challonge participants
                            </button>
                        {% elif settings.integration == "glhf" %}
                            <button
                                type="submit"
                                name="glhf_participants"
                                value="glhf_participants"
                                class="btn btn-outline-secondary btn-sm"
                            >
                                import glhf participants
                            </button>
                        {% endif %}
                    </div>
                </div>
            </fieldset>
        {% endif %}
    </form>
{% endblock %}
