<!doctype html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col mt-1">{% block nav %}{% endblock %}</div>
            </div>
            {% with messages = get_flashed_messages() %}{% if messages %}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-info">
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}{% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
